<% layout('../layouts/boilerplate1')%>

<div class="main">
  <img class="mainImage" src="https://image.tmdb.org/t/p/original<%=random.backdrop_path%>"/>
  <div class="overlay">
    <h1 class="m-5" style="color: rgb(213, 5, 255);"><%= random.name %></h><br>
    <!-- <a class="my-3 mx-5" href="/search/tv/<%=random.id%>">Details</a> -->
    <form action="/search/tv/<%=random.id%>">
      <button class="btn btn-secondary my-4" type="submit">Details</button>
    </form>
    <!-- <a href=""><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add to list</a> -->
    <button class="btn btn-secondary mx-4">Add to list</button>
    <h5 class="m-5"><%= random.overview %></h5>
  </div>
</div>


<div class="contain">
  <h3 class="mt-0 m-4">Trending now:</h3>
  <div class="box box1">
      <% for(let i=0;i<5;i++){ %>
        <% if(trending[i].title){ %>
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=trending[i].poster_path%>');" href="/search/movie/<%=trending[i].id%>">
              <div class="details m-4">
                  <h5><%= trending[i].title %></h5>
                  <h5 style="color: turquoise;"><%= trending[i].vote_average %>/10</h5>
                  <p><%= trending[i].overview %></p>
              </div>
          </a>
        <% } else{ %>  
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=trending[i].poster_path%>');" href="/search/tv/<%=trending[i].id%>">
            <div class="details m-4">
                <h5><%= trending[i].name %></h5>
                <h5 style="color: turquoise;"><%= trending[i].vote_average %>/10</h5>
                <p><%= trending[i].overview %></p>
            </div>
          </a>
        <% } %>
      <% } %>
  </div>
    

  <h3 class="mt-0 m-4">Popular on FTB:</h3>
  <div class="box box2">
    <% for(let movie of popular){ %>
      <% if(movie.title){ %>
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
            <div class="details m-4">
                <h5><%= movie.title %></h5>
                <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                <p><%= movie.overview %></p>
            </div>
        </a>
      <% } else{ %>  
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/tv/<%=movie.id%>">
          <div class="details m-4">
              <h5><%= movie.name %></h5>
              <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
              <p><%= movie.overview %></p>
          </div>
        </a>
      <% } %>
    <% } %>
  </div>

  <h3 class="mt-0 m-4">Top rated:</h3>
  <div class="box box3">
    <% for(let movie of topRated){ %>
      <% if(movie.title){ %>
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
            <div class="details m-4">
                <h5><%= movie.title %></h5>
                <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                <p><%= movie.overview %></p>
            </div>
        </a>
      <% } else{ %>  
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/tv/<%=movie.id%>">
          <div class="details m-4">
              <h5><%= movie.name %></h5>
              <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
              <p><%= movie.overview %></p>
          </div>
        </a>
      <% } %>
    <% } %>
  </div>

  <h3 class="mt-0 m-4">New comedy movies:</h3>
  <div class="box box4">
    <% for(let movie of comedy){ %>
      <% if(movie.title){ %>
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
            <div class="details m-4">
                <h5><%= movie.title %></h5>
                <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                <p><%= movie.overview %></p>
            </div>
        </a>
      <% } else{ %>  
        <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/tv/<%=movie.id%>">
          <div class="details m-4">
              <h5><%= movie.name %></h5>
              <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
              <p><%= movie.overview %></p>
          </div>
        </a>
      <% } %>
    <% } %>
  </div>
</div>