<% layout('../layouts/boilerplate1')%>



<div class="contain">
 
  <h3 class="my-4">Popular movies:</h3>
  <div class="box">
      <% for(let movie of popularMovies){ %>
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
              <div class="details m-4">
                  <h5><%= movie.title %></h5>
                  <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                  <p><%= movie.overview %></p>
              </div>
          </a>
      <% } %>
  </div>
  <h3 class="my-4">Action movies:</h3>
  <div class="box">
      <% for(let movie of actionMovies){ %>
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
              <div class="details m-4">
                  <h5><%= movie.title %></h5>
                  <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                  <p><%= movie.overview %></p>
              </div>
          </a>
      <% } %>
  </div>
  <h3 class="my-4">Comedy movies:</h3>
  <div class="box">
      <% for(let movie of comedyMovies){ %>
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
              <div class="details m-4">
                  <h5><%= movie.title %></h5>
                  <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                  <p><%= movie.overview %></p>
              </div>
          </a>
      <% } %>
  </div>
  <h3 class="my-4">Horror movies:</h3>
  <div class="box">
      <% for(let movie of horrorMovies){ %>
          <a class="content overflow-hidden"  style="background-image: url('https://image.tmdb.org/t/p/w300<%=movie.poster_path%>');" href="/search/movie/<%=movie.id%>">
              <div class="details m-4">
                  <h5><%= movie.title %></h5>
                  <h5 style="color: turquoise;"><%= movie.vote_average %>/10</h5>
                  <p><%= movie.overview %></p>
              </div>
          </a>
      <% } %>
  </div>
</div>

