<% layout('../layouts/boilerplate1')%>

<h3 class="m-3">Trending movies:</h3>
<div class="content">  
  <% for(let movie of trendingMovies){ %>
    <% if(movie.title){ %>
      <a href="/search/movie/<%=movie.id%>">
        <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
          <div class="details overflow-hidden">
            <h5><%= movie.title %></h5>
            <p><%= movie.overview %></p>
          </div>
      </a>
      <% } else{%>
        <a href="/search/tv/<%=movie.id%>">
          <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
            <div class="details overflow-hidden">
              <h5><%= movie.name %></h5>
              <p><%= movie.overview %></p>
            </div>
        </a>
      <% } %>  
  <% } %>
</div>

<h3 class="m-3">Upcoming movies:</h3>
<div class="content">  
  <% for(let movie of upcomingMovies){ %>
    <% if(movie.title){ %>
      <a href="/search/movie/<%=movie.id%>">
        <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
          <div class="details overflow-hidden">
            <h5><%= movie.title %></h5>
            <p><%= movie.overview %></p>
          </div>
      </a>
      <% } else{%>
        <a href="/search/tv/<%=movie.id%>">
          <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
            <div class="details overflow-hidden">
              <h5><%= movie.name %></h5>
              <p><%= movie.overview %></p>
            </div>
        </a>
      <% } %>  
  <% } %>
</div>