<% layout('../layouts/boilerplate1')%>

<div class="contain">
  <h3 class="m-4">Search results for "<%=query%>":</h3>
  <div class="box">
    <% for(let movie of search){ %>
        <% if(movie.title){ %>
          <a class="content overflow-hidden " href="/search/movie/<%=movie.id%>">
            <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
          </a>
        <% } else{%>
          <a class="content overflow-hidden" href="/search/tv/<%=movie.id%>">
            <img src="https://image.tmdb.org/t/p/w300<%=movie.poster_path%>" alt="">
          </a>
        <% } %>   
    <% } %>  
  </div>

</div>
  